/* All PAges */
.logo {
  display: flex;
  justify-content: center;
}

/* Index Page */
.black {
  background-color: black;
  max-width :86%;
}
html {
  scroll-behavior: smooth;    
}
body {
  box-sizing: border-box;
}
.home {
  color: white;
  background-image: url('img/salmon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  margin-bottom: -200px;
  
}

nav {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

}

footer {
  min-height: 10%;
  width : 100%;
  background: black;
  color: white;
}

.float-right {
  float: right;
}

/* store page */
img.shirt, img.fish {
  height:400px;;
}

.store-bottom {
  margin-bottom: 10%;;
}

/* Sales Page Form */
form {
  margin: 0;
  text-align: center;
  padding: 20px;

}
.center {
  text-align: center;
}
 button {
   position: absolute;
   bottom: 23%;
   left:15px;
 }

fieldset {
  padding: 20px;
  margin: auto;
  width:400px;
  margin-top: 20px;
  margin-bottom : 500px;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  line-height: 1.6em;
}

label {
  float: left;
}

input {
  float:right;
}

legend{
  font-style: italic;
  color: #666666;
}

input[type='text' ] {
  width: 120px;
  border: 1px solid #d6d6d6;
  padding :2px;
  outline :none;
}

input[type="text"]:focus , input[type='text']:hover{
  background-color: #d0e2f0;
  border : 1px solid #999999;
  }

input[type='submit'] {
  border: 1px solid #006633;
  background-color: #009966;
  color: #ffffff;
  border-radius: 5px;
  padding: 5x;
  margin-top: 10px;
}

input[type='submit'] :hover {
  border: 1px solid #006633;
  background-color: #00cc33;
  color: #ffffff;
  cursor: pointer;
}

.submit {
  width : 310px;
  text-align: right;
}
/* * Sales Page Table */
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(140,66,42);;
  color: white;
}
/* About & Contact Page */



/* contact footer */
.footer-bottom {
  position: fixed;
  bottom:0;
  left:0;
  min-height: 5%;
  margin-top: 5%;
}
.footer :before {
  margin-top: 200px;
}
/* top page NavBar */
.active  {
  font-weight: bold;
  color: rgb(140,66,42);;
  text-decoration: underline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* End OF Nav Bar */
.grey-paragraph--bg{
  max-width: 62%;
  background: lightgrey;
}

.salmon {
  /* #8C422A */
  color: rgb(140,66,42);
 
}

.white {
  color: white;
}

.float {
  float: left;
  width: 20%;
}

/* Index page 4 pics contact, about store etc */
.grid{
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: 50% 50%  ;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(140,66,42);

  margin-top: -10px;
  overflow: hidden;

} 
.d1 {
  background:black;
  padding: 2%;
  color: white;
  text-align: center;
  

}

.d2 {
  background: rgb(140,66,42);
  padding: 2%;
  color: black;
  text-align: center;

}

.d3 {
  background: rgb(140,66,42);
  padding: 2%;
  color: black;
  text-align: center;
}
.d3 a  {
  color:black
}

.d2 a {
  color: black
}
.glyphicon-phone {
  font-size: 80px;
  color: white;
}
.d4  {
  background: black;
  font-size: 50%;
  padding: 5%;
  color: white;
  text-align: center;
}


html {
  scroll-behavior: smooth;
}

.glyphicon-arrow-down {
  font-size: 30px;
  color: white;
}
